@import 'mediawiki.skin.variables.less';

.ext-confirmEdit-hCaptchaLoadingIndicator {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding-bottom: @spacing-100;
}

.ext-confirmEdit-captcha-privacy-policy {
	font-size: @size-100;
	margin-top: @spacing-50;
}

.ve-ui-mwSaveDialog-savePanel {
	.hcaptcha-widget-container-hide-icon {
		.oo-ui-iconElement-icon {
			display: none;
		}

		.oo-ui-labelElement-label {
			margin-left: 0;
		}
	}
}
